body{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
.logo{
    width: 252px;
    height: 120px;
    border-radius: 6px;
}
nav{
    font-weight: bold;
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line1{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ul.navbar li {
    display: inline;
    font-size: 18px;
    padding-right: 30px;

}
ul.line1 li {
    font-size: 18px;
    padding-right: 30px;

}
ul.line1 li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color:#000; 
    text-decoration: underline;
    cursor:pointer;  
}
.text1{
    width: 33%;
}
.cardbody{
    padding: 10px;
    border: solid #000 2px;
    margin: 15px;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
section{
    margin: 30px;
}
.muted{
    color: #A9A9A9;
}
.saving{
    color: #50C878;
}
.cardimg{
    height: 201px;
}